APP_NAME=sentracore-core-backend
APP_PORT=4000
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/sentracore_core
POSTGRES_DB=sentracore_core
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
REDIS_URL=redis://redis:6379
JWT_SECRET=change-this-in-production
APP2_BASE_URL=http://host.docker.internal:8787
MIDTRANS_BASE_URL=https://api.sandbox.midtrans.com
SUMSUB_BASE_URL=https://api.sumsub.com
POLYGON_RPC_URL=https://polygon-amoy.drpc.org
RESEND_BASE_URL=https://api.resend.com
META_GRAPH_BASE_URL=https://graph.facebook.com
MOCK_EXTERNAL_API=true
